<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre Nós", about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
    <ul>
    <b> © Copyright 2011 Espaço Cidadão - Todos os Direitos Reservados.
    </ul>
  </nav>
</footer>
